@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 40px;
}

.hamburger {
  display: none;
}

.navBar, .navBar__window {
  display: flex;
}

.navBar__closeButton {
  display: none;
}

.navBar ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navBar ul li a {
  color: hsl(236, 13%, 42%);
  transition: 0.3s;
}

.navBar ul li a:hover {
  color: hsl(35, 77%, 62%);
}

main {
  width: 70vw;
  display: grid;
  grid-template-columns: 63% 34%;
  gap: 3%;
  grid-template-areas: "mainArticle newArticles"
}

.mainArticle {
  grid-area: mainArticle;
  display: grid;
  grid-template-columns: 47% 50%;
  grid-template-rows: 55% 41%;
  gap: 4% 3%;
  grid-template-areas: 
    "img img"
    "title description";
}

.mainArticle__img {
  grid-area: img;
  width: 100%;
  height: 100%;
}

.mainArticle__title {
  grid-area: title;
  font-size: 54px;
  font-weight: 800;
}

.mainArticle__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mainArticle__description p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 24px;
}

.mainArticle__description button {
  width: 180px;
  height: 40px;
  color: hsl(36, 100%, 99%);
  font-size: 14px;
  font-weight: 700;
  background-color: hsl(5, 85%, 63%);
  border: none;
  transition: 0.3s;
}

.mainArticle__description button:hover {
  background-color: hsl(240, 100%, 5%);
  cursor: pointer;
}

.newArticles {
  grid-area: newArticles;
  background-color: hsl(240, 100%, 5%);
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.newArticles h3 {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
  font-size: 42px;
  margin-top: 20px;
}

.newArticles article {
  padding-top: 24px;
  padding-bottom: 24px;
}

.newArticles article h4 {
  color: hsl(36, 100%, 99%);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: 0.3s;
}

.newArticles article h4:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

.newArticles article p {
  color: hsl(233, 8%, 79%);
  line-height: 30px;
}

.newArticles article:nth-child(2), .newArticles article:nth-child(3) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.topRelated {
  width: 70vw;
  margin: 72px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.topRelated article {
  display: flex;
}

.topRelated img {
  height: 125px;
}

.topRelated__description {
  margin-left: 20px;
}

.topRelated__description h3 {
  font-size: 32px;
  color: hsl(233, 8%, 79%);
}

.topRelated__description h4 {
  font-weight: 800;
  font-size: 17px;
  margin: 10px 0;
  transition: 0.3s;
}

.topRelated__description h4:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.topRelated__description p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 22px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 16px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 850px) {
  header {
    width: 95vw;
  }

  .hamburger {
    display: block;
    margin: auto 0;
  }

  .navBar {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translateX(200%);

    justify-content: flex-end;

    background-color: rgba(98, 101, 103, 0.5);
  }

  .navBar.open {
    transform: translateX(0%);
  }

  .navBar__window {
    width: 260px;
    justify-content: space-between;
    background-color: #fff;

    transform: translateX(200%);
    transition: .5s ease-out;
  }

  .navBar__window.open {
    transform: translateX(0%);
  }
  
  .navBar__closeButton {
    display: block;
    order: 2;

    margin-top: 25px;
    margin-right: 25px;
  }

  .navBar ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    margin-top: 140px;
    margin-left: 20px;
  }

  .navBar ul li a {
    color: black;
    font-size: 18px;
  }

  main {
    width: 95vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 600px min-content;
    gap: 50px;
    grid-template-areas: 
      "mainArticle"
      "newArticles";
  }

  .mainArticle {
    grid-area: mainArticle;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 24% 20%;
    gap: 3%;
    grid-template-areas: 
      "img"
      "title"
      "description";
  }

  .newArticles {
    justify-content: flex-start;
  }

  .topRelated {
    width: 95vw;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 490px) {
  main {
    grid-template-rows: 800px min-content;
  }
}